*

!README.md
!.gitignore
!fish/
!fish/config.fish
!fish/oh-my-posh/
!fish/oh-my-posh/**


!greetd/


!greetd/**

!scripts/
!scripts/**

!micro/
!micro/**

!btop/
!btop/**

!dunst/
!dunst/**

!hypr/
!hypr/**

!kitty/
!kitty/**

!nvim/
!nvim/**

!tmux/
!tmux/plugins
!tmux/plugins/catppuccin
!tmux/plugins/tmux-plugins
!tmux/plugins/tmux-plugins/tmux-cpu
!tmux/plugins/tmux-plugins/tmux-battery
!.tmux.conf

!waybar/
!waybar/**

!wlogout/
!wlogout/**

!wofi/
!wofi/**

!yazi/
!yazi/**

!vscode/
!vscode/**
